In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
weights = np.array([0.5,0.5])

In [6]:
tickers = ['PG', 'BEI.DE']
sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t]= wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [7]:
sec_data.tail(5)

                    PG      BEI.DE
Date
2019-11-13  120.650002  105.250000
2019-11-14  120.500000  105.099998
2019-11-15  120.540001  105.750000
2019-11-18  121.889999  106.199997
2019-11-19  121.419998  106.000000

In [8]:
sec_returns = np.log(sec_data/sec_data.shift(1))-1
sec_returns

                  PG    BEI.DE
Date
2007-01-03       NaN       NaN
2007-01-04 -1.007621 -0.993455
2007-01-05 -1.008624 -1.020772
2007-01-08 -0.997797 -0.999798
2007-01-09 -1.002517 -1.022858
2007-01-10 -0.988099 -1.012673
2007-01-11 -0.993793 -0.992502
2007-01-12 -0.994446 -0.990705
2007-01-16 -1.000000 -0.975428
2007-01-17 -0.989696 -1.041783
2007-01-18 -0.997250 -0.988975
2007-01-19 -0.991643 -1.002071
2007-01-22 -1.005614 -1.000829
2007-01-23 -1.001218 -0.998963
2007-01-24 -1.001982 -0.986618
2007-01-25 -1.009047 -1.019619
2007-01-26 -1.000925 -0.999792
2007-01-29 -0.999691 -0.986950
2007-01-30 -1.004480 -0.973798
2007-01-31 -0.995674 -0.967068
2007-02-01 -0.992781 -1.010923
2007-02-02 -1.000000 -0.992965
2007-02-05 -1.002912 -0.999027
2007-02-06 -1.008633 -1.004876
2007-02-07 -1.001705 -1.000391
2007-02-08 -0.998295 -1.010618
2007-02-09 -1.002480 -0.998223
2007-02-12 -1.004199 -1.000987
2007-02-13 -0.991464 -0.998618
2007-02-14 -0.997377 -0.987066
...              ...       ...
2019-10-09 -0.991355 -0.996239
2019-10-10 -1.000328 -1.017515
2019-10-11 -1.006995 -1.012978
2019-10-14 -1.008626 -0.989413
2019-10-15 -1.024027 -0.985269
2019-10-16 -0.997188 -0.998115
2019-10-17 -1.001320 -0.998589
2019-10-18 -0.992824 -1.005658
2019-10-21 -0.986387 -1.012369
2019-10-22 -0.974300 -1.001437
2019-10-23 -0.993311 -1.008666
2019-10-24 -0.985552 -0.993733
2019-10-25 -1.012418 -1.003852
2019-10-28 -0.998136 -0.998554
2019-10-29 -0.999029 -1.007737
2019-10-30 -0.989217 -0.983630
2019-10-31 -1.003448 -0.986246
2019-11-01 -1.005153 -1.014232
2019-11-04 -1.039521 -0.994758
2019-11-05 -1.001429 -1.000000
2019-11-06 -0.988128 -0.981634
2019-11-07 -1.005835 -1.002804
2019-11-08 -0.999331 -1.000936
2019-11-11 -1.003096 -1.011305
2019-11-12 -1.000503 -1.006177
2019-11-13 -0.988496 -0.996669
2019-11-14 -1.001244 -1.001426
2019-11-15 -0.999668 -0.993834
2019-11-18 -0.988863 -0.995754
2019-11-19 -1.003863 -1.001885

[3244 rows x 2 columns]

# Portfolio Variance

In [10]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))
pfolio_var

0.023935763611359417

# Porfolio Volatility

In [11]:
pfolio_vol = np.dot(weights.T, np.dot(sec_returns.cov()*250, weights))**0.5
pfolio_vol

0.1547118728842729

In [14]:
print((str(round(pfolio_vol, 5)*100))+'%')

15.470999999999998%

# Diversifiable Risk

In [23]:
weights[0]

0.5

In [24]:
weights[1]

0.5

In [28]:
PG_var_a = sec_returns['PG'].var()*250
PG_var_a

0.030160257277606867

In [29]:
BEI_var_a = sec_returns['BEI.DE'].var()*250
BEI_var_a

0.046222461393723324

In [31]:
dr = pfolio_var - (weights[0]**2 * PG_var_a) - (weights[1] **2 * BEI_var_a)
dr

0.00484008394352687

In [32]:
print(str(round(dr, 5)*100)+'%')

0.484%

# Non-diversifiable Risk

In [33]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.019095679667832547

In [34]:
n_dr_2 = (weights[0]**2*PG_var_a)+(weights[1]**2*BEI_var_a)
n_dr_2

0.019095679667832547

In [35]:
n_dr_1 == n_dr_2

True